# Visual Studio
.vscode/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
bin/
obj/
out/

# Logs
logs/
*.log
*.txt

# Serilog logs
*.jsonlog

# IIS / Kestrel
iisexpress/

# Cache
*.cache

# Env files
.env
.env.*

# IGNORE ALL appsettings by default except Development
appsettings*.json
!appsettings.Development.json


# Rider
.idea/

# Node
node_modules/

# Publish
publish/
artifacts/
